In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('GBPJPY_M5.csv')

In [6]:
print(df.head())

   2022-12-15 19:20  167.734  167.776  167.734.1  167.774    12
0  2022-12-15 19:25  167.775  167.814    167.760  167.760    91
1  2022-12-15 19:30  167.766  167.796    167.757  167.780   993
2  2022-12-15 19:35  167.783  167.794    167.756  167.787   632
3  2022-12-15 19:40  167.788  167.794    167.755  167.787   662
4  2022-12-15 19:45  167.787  167.821    167.736  167.742  1092

In [7]:
df.columns = ['Data', 'Abertura', 'Maxima', 'Minima','Fechamento', 'Volume']

In [8]:
print(df.head())

               Data  Abertura   Maxima   Minima  Fechamento  Volume
0  2022-12-15 19:25   167.775  167.814  167.760     167.760      91
1  2022-12-15 19:30   167.766  167.796  167.757     167.780     993
2  2022-12-15 19:35   167.783  167.794  167.756     167.787     632
3  2022-12-15 19:40   167.788  167.794  167.755     167.787     662
4  2022-12-15 19:45   167.787  167.821  167.736     167.742    1092

In [9]:
df = df.drop(['Maxima', 'Minima', 'Volume'], axis=1)

In [10]:
print(df.head(20))

                Data  Abertura  Fechamento
0   2022-12-15 19:25   167.775     167.760
1   2022-12-15 19:30   167.766     167.780
2   2022-12-15 19:35   167.783     167.787
3   2022-12-15 19:40   167.788     167.787
4   2022-12-15 19:45   167.787     167.742
5   2022-12-15 19:50   167.741     167.737
6   2022-12-15 19:55   167.736     167.754
7   2022-12-15 20:00   167.748     167.812
8   2022-12-15 20:05   167.818     167.766
9   2022-12-15 20:10   167.766     167.831
10  2022-12-15 20:15   167.831     167.795
11  2022-12-15 20:20   167.797     167.793
12  2022-12-15 20:25   167.794     167.803
13  2022-12-15 20:30   167.808     167.796
14  2022-12-15 20:35   167.797     167.824
15  2022-12-15 20:40   167.825     167.889
16  2022-12-15 20:45   167.890     167.888
17  2022-12-15 20:50   167.887     167.882
18  2022-12-15 20:55   167.882     167.917
19  2022-12-15 21:00   167.918     167.867

In [11]:
df['Resultado'] = (df['Fechamento'] > df['Abertura']).astype(int)

In [12]:
print(df.head(20))

                Data  Abertura  Fechamento  Resultado
0   2022-12-15 19:25   167.775     167.760          0
1   2022-12-15 19:30   167.766     167.780          1
2   2022-12-15 19:35   167.783     167.787          1
3   2022-12-15 19:40   167.788     167.787          0
4   2022-12-15 19:45   167.787     167.742          0
5   2022-12-15 19:50   167.741     167.737          0
6   2022-12-15 19:55   167.736     167.754          1
7   2022-12-15 20:00   167.748     167.812          1
8   2022-12-15 20:05   167.818     167.766          0
9   2022-12-15 20:10   167.766     167.831          1
10  2022-12-15 20:15   167.831     167.795          0
11  2022-12-15 20:20   167.797     167.793          0
12  2022-12-15 20:25   167.794     167.803          1
13  2022-12-15 20:30   167.808     167.796          0
14  2022-12-15 20:35   167.797     167.824          1
15  2022-12-15 20:40   167.825     167.889          1
16  2022-12-15 20:45   167.890     167.888          0
17  2022-12-15 20:50   167.887     167.882          0
18  2022-12-15 20:55   167.882     167.917          1
19  2022-12-15 21:00   167.918     167.867          0

In [13]:
df['Data'] = pd.to_datetime(df['Data'])

In [14]:
df['Hora'] = df['Data'].dt.time

In [15]:
print(df.head(14))

                  Data  Abertura  Fechamento  Resultado      Hora
0  2022-12-15 19:25:00   167.775     167.760          0  19:25:00
1  2022-12-15 19:30:00   167.766     167.780          1  19:30:00
2  2022-12-15 19:35:00   167.783     167.787          1  19:35:00
3  2022-12-15 19:40:00   167.788     167.787          0  19:40:00
4  2022-12-15 19:45:00   167.787     167.742          0  19:45:00
5  2022-12-15 19:50:00   167.741     167.737          0  19:50:00
6  2022-12-15 19:55:00   167.736     167.754          1  19:55:00
7  2022-12-15 20:00:00   167.748     167.812          1  20:00:00
8  2022-12-15 20:05:00   167.818     167.766          0  20:05:00
9  2022-12-15 20:10:00   167.766     167.831          1  20:10:00
10 2022-12-15 20:15:00   167.831     167.795          0  20:15:00
11 2022-12-15 20:20:00   167.797     167.793          0  20:20:00
12 2022-12-15 20:25:00   167.794     167.803          1  20:25:00
13 2022-12-15 20:30:00   167.808     167.796          0  20:30:00

In [16]:
df = df.drop(columns=['Data'])

In [17]:
print(df.head(14))

    Abertura  Fechamento  Resultado      Hora
0    167.775     167.760          0  19:25:00
1    167.766     167.780          1  19:30:00
2    167.783     167.787          1  19:35:00
3    167.788     167.787          0  19:40:00
4    167.787     167.742          0  19:45:00
5    167.741     167.737          0  19:50:00
6    167.736     167.754          1  19:55:00
7    167.748     167.812          1  20:00:00
8    167.818     167.766          0  20:05:00
9    167.766     167.831          1  20:10:00
10   167.831     167.795          0  20:15:00
11   167.797     167.793          0  20:20:00
12   167.794     167.803          1  20:25:00
13   167.808     167.796          0  20:30:00

In [19]:
resultado_agrupado = df.groupby('Hora')['Resultado'].value_counts().unstack(fill_value=0)

In [20]:
print(resultado_agrupado.to_string())

Resultado    0    1
Hora
00:00:00   308  240
00:05:00   274  274
00:10:00   282  266
00:15:00   288  259
00:20:00   303  244
00:25:00   277  271
00:30:00   263  285
00:35:00   275  273
00:40:00   287  261
00:45:00   288  259
00:50:00   296  252
00:55:00   252  296
01:00:00   277  271
01:05:00   270  278
01:10:00   252  296
01:15:00   270  278
01:20:00   250  298
01:25:00   290  258
01:30:00   300  248
01:35:00   307  241
01:40:00   270  278
01:45:00   266  282
01:50:00   279  269
01:55:00   239  309
02:00:00   251  297
02:05:00   267  281
02:10:00   268  280
02:15:00   269  279
02:20:00   285  263
02:25:00   270  278
02:30:00   260  288
02:35:00   266  282
02:40:00   283  265
02:45:00   283  265
02:50:00   293  255
02:55:00   286  262
03:00:00   292  256
03:05:00   254  294
03:10:00   249  299
03:15:00   274  274
03:20:00   288  260
03:25:00   258  290
03:30:00   274  274
03:35:00   275  273
03:40:00   275  273
03:45:00   289  259
03:50:00   279  269
03:55:00   285  263
04:00:00   280  268
04:05:00   260  288
04:10:00   282  265
04:15:00   268  280
04:20:00   295  252
04:25:00   283  263
04:30:00   265  282
04:35:00   289  258
04:40:00   282  265
04:45:00   265  282
04:50:00   278  270
04:55:00   217  330
05:00:00   275  271
05:05:00   259  287
05:10:00   260  286
05:15:00   266  280
05:20:00   274  272
05:25:00   274  272
05:30:00   277  269
05:35:00   271  275
05:40:00   268  278
05:45:00   291  255
05:50:00   272  274
05:55:00   245  301
06:00:00   273  273
06:05:00   281  265
06:10:00   290  256
06:15:00   262  284
06:20:00   298  248
06:25:00   243  303
06:30:00   267  279
06:35:00   283  263
06:40:00   294  252
06:45:00   266  280
06:50:00   255  291
06:55:00   229  317
07:00:00   303  243
07:05:00   284  262
07:10:00   253  292
07:15:00   260  285
07:20:00   274  271
07:25:00   253  292
07:30:00   261  284
07:35:00   292  253
07:40:00   268  277
07:45:00   276  269
07:50:00   272  273
07:55:00   283  262
08:00:00   275  271
08:05:00   240  306
08:10:00   244  302
08:15:00   288  258
08:20:00   266  280
08:25:00   281  265
08:30:00   279  267
08:35:00   281  265
08:40:00   290  256
08:45:00   286  260
08:50:00   284  262
08:55:00   258  288
09:00:00   249  297
09:05:00   273  273
09:10:00   262  284
09:15:00   278  268
09:20:00   286  260
09:25:00   331  215
09:30:00   260  286
09:35:00   286  259
09:40:00   280  265
09:45:00   261  284
09:50:00   251  294
09:55:00   261  284
10:00:00   259  286
10:05:00   279  266
10:10:00   273  272
10:15:00   258  287
10:20:00   271  274
10:25:00   270  275
10:30:00   267  278
10:35:00   286  259
10:40:00   259  286
10:45:00   259  286
10:50:00   249  295
10:55:00   267  276
11:00:00   285  260
11:05:00   286  259
11:10:00   271  274
11:15:00   264  282
11:20:00   269  277
11:25:00   274  272
11:30:00   273  273
11:35:00   282  263
11:40:00   284  262
11:45:00   270  276
11:50:00   301  245
11:55:00   263  281
12:00:00   244  302
12:05:00   267  279
12:10:00   253  293
12:15:00   281  265
12:20:00   288  258
12:25:00   270  276
12:30:00   244  302
12:35:00   288  258
12:40:00   274  272
12:45:00   253  293
12:50:00   299  247
12:55:00   241  305
13:00:00   272  274
13:05:00   260  286
13:10:00   270  276
13:15:00   264  282
13:20:00   248  298
13:25:00   271  275
13:30:00   262  284
13:35:00   273  273
13:40:00   240  306
13:45:00   255  291
13:50:00   276  270
13:55:00   258  288
14:00:00   310  236
14:05:00   274  272
14:10:00   270  276
14:15:00   260  286
14:20:00   271  275
14:25:00   256  290
14:30:00   278  268
14:35:00   268  278
14:40:00   274  272
14:45:00   271  275
14:50:00   249  297
14:55:00   258  287
15:00:00   292  254
15:05:00   269  277
15:10:00   284  262
15:15:00   294  252
15:20:00   255  291
15:25:00   276  270
15:30:00   260  286
15:35:00   271  275
15:40:00   245  301
15:45:00   276  270
15:50:00   270  276
15:55:00   269  277
16:00:00   283  263
16:05:00   291  255
16:10:00   262  284
16:15:00   261  285
16:20:00   253  293
16:25:00   271  275
16:30:00   273  273
16:35:00   288  258
16:40:00   278  268
16:45:00   262  284
16:50:00   271  275
16:55:00   252  294
17:00:00   303  243
17:05:00   252  294
17:10:00   267  279
17:15:00   275  271
17:20:00   300  246
17:25:00   280  266
17:30:00   218  328
17:35:00   282  264
17:40:00   269  277
17:45:00   238  308
17:50:00   255  291
17:55:00   353  193
18:00:00   303  139
18:05:00   157  320
18:10:00   193  285
18:15:00   234  244
18:20:00   233  245
18:25:00   221  257
18:30:00   196  282
18:35:00   222  256
18:40:00   248  230
18:45:00   238  240
18:50:00   215  263
18:55:00   286  192
19:00:00   192  208
19:05:00   202  231
19:10:00   214  222
19:15:00   180  258
19:20:00   230  205
19:25:00   240  199
19:30:00   169  271
19:35:00   202  238
19:40:00   206  234
19:45:00   237  203
19:50:00   245  195
19:55:00   261  179
20:00:00   202  238
20:05:00   226  214
20:10:00   209  230
20:15:00   216  223
20:20:00   226  213
20:25:00   236  203
20:30:00   180  259
20:35:00   219  220
20:40:00   212  227
20:45:00   227  212
20:50:00   209  230
20:55:00   170  269
21:00:00   229  209
21:05:00   223  215
21:10:00   214  225
21:15:00   205  234
21:20:00   233  206
21:25:00   211  228
21:30:00   218  221
21:35:00   211  228
21:40:00   207  232
21:45:00   232  207
21:50:00   164  275
21:55:00   275  164
22:00:00   224  215
22:05:00   228  211
22:10:00   228  211
22:15:00   213  226
22:20:00   206  233
22:25:00   200  239
22:30:00   238  201
22:35:00   242  197
22:40:00   232  207
22:45:00   222  217
22:50:00   230  209
22:55:00   215  224
23:00:00   227  212
23:05:00   225  214
23:10:00   212  227
23:15:00   216  223
23:20:00   222  217
23:25:00   215  224
23:30:00   208  231
23:35:00   226  213
23:40:00   210  229
23:45:00   230  209
23:50:00   204  235
23:55:00   152  287

In [30]:
resultado_agrupado['Total'] = resultado_agrupado[0] + resultado_agrupado[1]
resultado_agrupado['Positivo (%)'] = (resultado_agrupado[1] / resultado_agrupado['Total']) * 100
resultado_agrupado['Negativo (%)'] = (resultado_agrupado[0] / resultado_agrupado['Total']) * 100

# Exibindo o resultado com porcentagens

In [22]:
resultado_agrupado_positivo = resultado_agrupado.sort_values(by='Positivo (%)', ascending=False)

In [34]:

resultado_agrupado_negativo = resultado_agrupado.sort_values(by='Negativo (%)', ascending=False)

In [36]:
print(resultado_agrupado_positivo[['Positivo (%)']])

Resultado  Positivo (%)
Hora
18:05:00      67.085954
23:55:00      65.375854
21:50:00      62.642369
19:30:00      61.590909
20:55:00      61.275626
...                 ...
18:55:00      40.167364
09:25:00      39.377289
21:55:00      37.357631
17:55:00      35.347985
18:00:00      31.447964

[288 rows x 1 columns]

In [37]:
print(resultado_agrupado_negativo[['Negativo (%)']])

Resultado  Negativo (%)
Hora
18:00:00      68.552036
17:55:00      64.652015
21:55:00      62.642369
09:25:00      60.622711
18:55:00      59.832636
...                 ...
20:55:00      38.724374
19:30:00      38.409091
21:50:00      37.357631
23:55:00      34.624146
18:05:00      32.914046

[288 rows x 1 columns]

Trazer todos registros que tem a Hora como: 21:05:00

In [38]:
# prompt: Trazer todos registros que tem a Hora como: 21:05:00

# Trazer todos registros que tem a Hora como: 21:05:00
hora_especifica = pd.to_datetime('18:00:00').time()
filtragem_por_hora= df[df['Hora'] == hora_especifica]
filtragem_por_hora

        Abertura  Fechamento  Resultado      Hora
271      166.238     166.179          0  18:00:00
499      166.372     166.387          1  18:00:00
787      160.385     160.349          0  18:00:00
1074     159.962     159.936          0  18:00:00
1361     159.369     159.347          0  18:00:00
...          ...         ...        ...       ...
148872   190.030     190.065          1  18:00:00
149100   191.832     191.851          1  18:00:00
149387   191.889     191.903          1  18:00:00
149675   192.807     192.803          0  18:00:00
149963   192.681     192.680          0  18:00:00

[442 rows x 4 columns]

In [39]:
contagem = filtragem_por_hora['Resultado'].value_counts()
print(contagem)

Resultado
0    303
1    139
Name: count, dtype: int64

In [40]:
porcentagem = (contagem / contagem.sum()) * 100
print(porcentagem)

Resultado
0    68.552036
1    31.447964
Name: count, dtype: float64