In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('EURJPY_M5low.csv')

NameError: name 'pd' is not defined

In [ ]:
print(df.head())

   2024-05-22 07:40  169.799  169.827  169.797  169.816  267
0  2024-05-22 07:45  169.817  169.853  169.804  169.820  275
1  2024-05-22 07:50  169.822  169.830  169.796  169.814  190
2  2024-05-22 07:55  169.818  169.826  169.780  169.815  332
3  2024-05-22 08:00  169.811  169.823  169.776  169.792  595
4  2024-05-22 08:05  169.789  169.813  169.784  169.799  233

In [ ]:
df.columns = ['Data', 'Abertura', 'Maxima', 'Minima','Fechamento', 'Volume']

In [ ]:
print(df.head())

               Data  Abertura   Maxima   Minima  Fechamento  Volume
0  2024-05-22 07:45   169.817  169.853  169.804     169.820     275
1  2024-05-22 07:50   169.822  169.830  169.796     169.814     190
2  2024-05-22 07:55   169.818  169.826  169.780     169.815     332
3  2024-05-22 08:00   169.811  169.823  169.776     169.792     595
4  2024-05-22 08:05   169.789  169.813  169.784     169.799     233

In [ ]:
df = df.drop(['Maxima', 'Minima', 'Volume'], axis=1)

In [ ]:
print(df.head(20))

                Data  Abertura  Fechamento
0   2024-05-22 07:45   169.817     169.820
1   2024-05-22 07:50   169.822     169.814
2   2024-05-22 07:55   169.818     169.815
3   2024-05-22 08:00   169.811     169.792
4   2024-05-22 08:05   169.789     169.799
5   2024-05-22 08:10   169.797     169.731
6   2024-05-22 08:15   169.730     169.737
7   2024-05-22 08:20   169.736     169.720
8   2024-05-22 08:25   169.721     169.742
9   2024-05-22 08:30   169.740     169.735
10  2024-05-22 08:35   169.734     169.726
11  2024-05-22 08:40   169.727     169.734
12  2024-05-22 08:45   169.735     169.730
13  2024-05-22 08:50   169.730     169.755
14  2024-05-22 08:55   169.756     169.752
15  2024-05-22 09:00   169.753     169.748
16  2024-05-22 09:05   169.745     169.713
17  2024-05-22 09:10   169.711     169.690
18  2024-05-22 09:15   169.692     169.662
19  2024-05-22 09:20   169.662     169.652

In [ ]:
df['Resultado'] = (df['Fechamento'] > df['Abertura']).astype(int)

In [ ]:
print(df.head(20))

                Data  Abertura  Fechamento  Resultado
0   2024-05-22 07:45   169.817     169.820          1
1   2024-05-22 07:50   169.822     169.814          0
2   2024-05-22 07:55   169.818     169.815          0
3   2024-05-22 08:00   169.811     169.792          0
4   2024-05-22 08:05   169.789     169.799          1
5   2024-05-22 08:10   169.797     169.731          0
6   2024-05-22 08:15   169.730     169.737          1
7   2024-05-22 08:20   169.736     169.720          0
8   2024-05-22 08:25   169.721     169.742          1
9   2024-05-22 08:30   169.740     169.735          0
10  2024-05-22 08:35   169.734     169.726          0
11  2024-05-22 08:40   169.727     169.734          1
12  2024-05-22 08:45   169.735     169.730          0
13  2024-05-22 08:50   169.730     169.755          1
14  2024-05-22 08:55   169.756     169.752          0
15  2024-05-22 09:00   169.753     169.748          0
16  2024-05-22 09:05   169.745     169.713          0
17  2024-05-22 09:10   169.711     169.690          0
18  2024-05-22 09:15   169.692     169.662          0
19  2024-05-22 09:20   169.662     169.652          0

In [ ]:
df['Data'] = pd.to_datetime(df['Data'])

In [ ]:
df['Hora'] = df['Data'].dt.time

In [ ]:
print(df.head(14))

                  Data  Abertura  Fechamento  Resultado      Hora
0  2024-05-22 07:45:00   169.817     169.820          1  07:45:00
1  2024-05-22 07:50:00   169.822     169.814          0  07:50:00
2  2024-05-22 07:55:00   169.818     169.815          0  07:55:00
3  2024-05-22 08:00:00   169.811     169.792          0  08:00:00
4  2024-05-22 08:05:00   169.789     169.799          1  08:05:00
5  2024-05-22 08:10:00   169.797     169.731          0  08:10:00
6  2024-05-22 08:15:00   169.730     169.737          1  08:15:00
7  2024-05-22 08:20:00   169.736     169.720          0  08:20:00
8  2024-05-22 08:25:00   169.721     169.742          1  08:25:00
9  2024-05-22 08:30:00   169.740     169.735          0  08:30:00
10 2024-05-22 08:35:00   169.734     169.726          0  08:35:00
11 2024-05-22 08:40:00   169.727     169.734          1  08:40:00
12 2024-05-22 08:45:00   169.735     169.730          0  08:45:00
13 2024-05-22 08:50:00   169.730     169.755          1  08:50:00

In [ ]:
df = df.drop(columns=['Data'])

In [ ]:
print(df.head(14))

    Abertura  Fechamento  Resultado      Hora
0    169.817     169.820          1  07:45:00
1    169.822     169.814          0  07:50:00
2    169.818     169.815          0  07:55:00
3    169.811     169.792          0  08:00:00
4    169.789     169.799          1  08:05:00
5    169.797     169.731          0  08:10:00
6    169.730     169.737          1  08:15:00
7    169.736     169.720          0  08:20:00
8    169.721     169.742          1  08:25:00
9    169.740     169.735          0  08:30:00
10   169.734     169.726          0  08:35:00
11   169.727     169.734          1  08:40:00
12   169.735     169.730          0  08:45:00
13   169.730     169.755          1  08:50:00

In [ ]:
resultado_agrupado = df.groupby('Hora')['Resultado'].value_counts().unstack(fill_value=0)

In [ ]:
print(resultado_agrupado.to_string())

Resultado    0    1
Hora
00:00:00    95   79
00:05:00    94   80
00:10:00    77   98
00:15:00    83   92
00:20:00    92   83
00:25:00    84   91
00:30:00    82   93
00:35:00    80   95
00:40:00    78   97
00:45:00    95   80
00:50:00    62  113
00:55:00   115   60
01:00:00   101   74
01:05:00    92   83
01:10:00    95   80
01:15:00    82   93
01:20:00    90   85
01:25:00    77   98
01:30:00   100   75
01:35:00    85   90
01:40:00    91   84
01:45:00    94   81
01:50:00   109   66
01:55:00    97   78
02:00:00    99   76
02:05:00    88   87
02:10:00    83   92
02:15:00    89   86
02:20:00    85   90
02:25:00    79   96
02:30:00    91   84
02:35:00    87   88
02:40:00    92   83
02:45:00    77   98
02:50:00    70  105
02:55:00    55  120
03:00:00   105   69
03:05:00    92   82
03:10:00    92   82
03:15:00    90   84
03:20:00    92   82
03:25:00    92   82
03:30:00    90   84
03:35:00    87   87
03:40:00    80   94
03:45:00    90   84
03:50:00   100   74
03:55:00    89   85
04:00:00    98   76
04:05:00    91   83
04:10:00    77   97
04:15:00   102   72
04:20:00    83   91
04:25:00    95   79
04:30:00    97   77
04:35:00    97   77
04:40:00    88   86
04:45:00    75   99
04:50:00    77   97
04:55:00    88   85
05:00:00    80   94
05:05:00    83   91
05:10:00    86   88
05:15:00    92   82
05:20:00    92   82
05:25:00    88   86
05:30:00    85   89
05:35:00    87   87
05:40:00    91   83
05:45:00    94   80
05:50:00    93   81
05:55:00    85   89
06:00:00   102   72
06:05:00    83   91
06:10:00    96   78
06:15:00    77   97
06:20:00    81   93
06:25:00    79   95
06:30:00    89   85
06:35:00    80   94
06:40:00    91   83
06:45:00    85   89
06:50:00    92   81
06:55:00    86   88
07:00:00    82   92
07:05:00    84   90
07:10:00    90   84
07:15:00    97   77
07:20:00    82   92
07:25:00    79   95
07:30:00    77   97
07:35:00    76   97
07:40:00    89   84
07:45:00    83   91
07:50:00    90   85
07:55:00    72  103
08:00:00    93   81
08:05:00    77   97
08:10:00    76   98
08:15:00    99   75
08:20:00    87   87
08:25:00    75   99
08:30:00    87   87
08:35:00    86   88
08:40:00    82   92
08:45:00    87   87
08:50:00    87   87
08:55:00    72  102
09:00:00    91   83
09:05:00    94   80
09:10:00    91   83
09:15:00    89   85
09:20:00    99   75
09:25:00    73  101
09:30:00    95   79
09:35:00    99   75
09:40:00   103   71
09:45:00    88   86
09:50:00    75   99
09:55:00    66  108
10:00:00    97   77
10:05:00   106   68
10:10:00    77   97
10:15:00    82   92
10:20:00    75   99
10:25:00    84   90
10:30:00    84   90
10:35:00    99   75
10:40:00    92   82
10:45:00    94   80
10:50:00    83   91
10:55:00    91   83
11:00:00    74  100
11:05:00    81   93
11:10:00    80   94
11:15:00    86   88
11:20:00    84   90
11:25:00    89   85
11:30:00    95   79
11:35:00    88   86
11:40:00    79   95
11:45:00    83   91
11:50:00    88   86
11:55:00    85   89
12:00:00    77   97
12:05:00   100   74
12:10:00    89   85
12:15:00    84   90
12:20:00    83   91
12:25:00   111   63
12:30:00    89   85
12:35:00    84   90
12:40:00    90   84
12:45:00    81   93
12:50:00    80   94
12:55:00    82   92
13:00:00    88   86
13:05:00    88   86
13:10:00    91   83
13:15:00    85   89
13:20:00    91   83
13:25:00    87   87
13:30:00    91   83
13:35:00    84   90
13:40:00    91   83
13:45:00    83   91
13:50:00    82   92
13:55:00    89   85
14:00:00    99   75
14:05:00    97   77
14:10:00    87   87
14:15:00    81   93
14:20:00    87   87
14:25:00    84   90
14:30:00    92   82
14:35:00    89   85
14:40:00    89   85
14:45:00    86   88
14:50:00    95   79
14:55:00    81   93
15:00:00    91   83
15:05:00    73  101
15:10:00    85   89
15:15:00    96   78
15:20:00    93   81
15:25:00    82   92
15:30:00    81   93
15:35:00    94   80
15:40:00    80   94
15:45:00    95   79
15:50:00    93   81
15:55:00    79   95
16:00:00    88   86
16:05:00    83   91
16:10:00    85   89
16:15:00    96   78
16:20:00    74  100
16:25:00    78   96
16:30:00    91   83
16:35:00    90   84
16:40:00    91   83
16:45:00    93   81
16:50:00    85   89
16:55:00    98   76
17:00:00    93   81
17:05:00    93   81
17:10:00    91   83
17:15:00    88   86
17:20:00    86   88
17:25:00    85   89
17:30:00    94   80
17:35:00    82   92
17:40:00    90   84
17:45:00    75   99
17:50:00    95   79
17:55:00    82   92
18:00:00    96   78
18:05:00    89   85
18:10:00    89   85
18:15:00    98   76
18:20:00    81   93
18:25:00    85   89
18:30:00    78   96
18:35:00    90   84
18:40:00    78   96
18:45:00    88   86
18:50:00    85   89
18:55:00    90   84
19:00:00    85   89
19:05:00    97   77
19:10:00    96   78
19:15:00    79   95
19:20:00    80   94
19:25:00    90   84
19:30:00    88   86
19:35:00    90   84
19:40:00    92   82
19:45:00    81   93
19:50:00    80   94
19:55:00    72  102
20:00:00    94   80
20:05:00    63  111
20:10:00    89   85
20:15:00    87   87
20:20:00    91   83
20:25:00    95   79
20:30:00    73  101
20:35:00    88   86
20:40:00    83   91
20:45:00    83   91
20:50:00    86   88
20:55:00   117   57
21:00:00    50   48
21:05:00    39  129
21:10:00    57  113
21:15:00    82   89
21:20:00    89   84
21:25:00    77   96
21:30:00    50  123
21:35:00    86   87
21:40:00    88   84
21:45:00    81   91
21:50:00    92   81
21:55:00    96   76
22:00:00    56   77
22:05:00    78   90
22:10:00    75   99
22:15:00    72  102
22:20:00    79   95
22:25:00    80   94
22:30:00    67  107
22:35:00    74  100
22:40:00    85   89
22:45:00    86   89
22:50:00    81   94
22:55:00   103   72
23:00:00    73  102
23:05:00    86   89
23:10:00    79   94
23:15:00    87   87
23:20:00    84   90
23:25:00    90   84
23:30:00    85   89
23:35:00   101   72
23:40:00    74   99
23:45:00   103   71
23:50:00    86   88
23:55:00    69  105

In [ ]:
resultado_agrupado['Total'] = resultado_agrupado[0] + resultado_agrupado[1]
resultado_agrupado['Positivo (%)'] = (resultado_agrupado[1] / resultado_agrupado['Total']) * 100
resultado_agrupado['Negativo (%)'] = (resultado_agrupado[0] / resultado_agrupado['Total']) * 100

# Exibindo o resultado com porcentagens

In [ ]:
resultado_agrupado_positivo = resultado_agrupado.sort_values(by='Positivo (%)', ascending=False)

In [ ]:
print(resultado_agrupado_positivo[['Positivo (%)']])

Resultado  Positivo (%)
Hora
21:05:00      76.785714
21:30:00      71.098266
02:55:00      68.571429
21:10:00      66.470588
00:50:00      64.571429
...                 ...
10:05:00      39.080460
01:50:00      37.714286
12:25:00      36.206897
00:55:00      34.285714
20:55:00      32.758621

[288 rows x 1 columns]

In [ ]:
print(df.head())

   Abertura  Fechamento  Resultado      Hora
0   169.817     169.820          1  07:45:00
1   169.822     169.814          0  07:50:00
2   169.818     169.815          0  07:55:00
3   169.811     169.792          0  08:00:00
4   169.789     169.799          1  08:05:00

Trazer todos registros que tem a Hora como: 21:05:00

In [ ]:
# prompt: Trazer todos registros que tem a Hora como: 21:05:00

# Trazer todos registros que tem a Hora como: 21:05:00
hora_especifica = pd.to_datetime('21:05:00').time()
registros_21_05 = df[df['Hora'] == hora_especifica]
registros_21_05

       Abertura  Fechamento  Resultado      Hora
160     169.554     169.626          1  21:05:00
447     169.543     169.644          1  21:05:00
734     170.207     170.222          1  21:05:00
1022    170.239     170.303          1  21:05:00
1310    170.466     170.595          1  21:05:00
...         ...         ...        ...       ...
48780   159.830     159.817          0  21:05:00
49067   160.475     160.452          0  21:05:00
49354   162.098     162.071          0  21:05:00
49641   162.054     162.070          1  21:05:00
49928   162.985     162.994          1  21:05:00

[168 rows x 4 columns]

In [ ]:
contagem = registros_21_05['Resultado'].value_counts()
print(contagem)

Resultado
1    129
0     39
Name: count, dtype: int64

In [ ]:
porcentagem = (contagem / contagem.sum()) * 100
print(porcentagem)

Resultado
1    76.785714
0    23.214286
Name: count, dtype: float64