In [1]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\daniel\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\daniel\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\daniel\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\daniel\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\daniel\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\daniel\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [17]:
import pandas as pd 

pd.set_option('display.max_columns',None)
pd.set_option('display.width', 1000)

In [18]:
df = pd.read_csv('GBPUSD5.CSV')

print(df.head())

   2024.07.18  13:50  1.29805  1.29844  1.29796  1.29830  404
0  2024.07.18  13:55  1.29827  1.29830  1.29793  1.29807  296
1  2024.07.18  14:00  1.29807  1.29831  1.29805  1.29829  537
2  2024.07.18  14:05  1.29830  1.29851  1.29807  1.29840  429
3  2024.07.18  14:10  1.29838  1.29861  1.29811  1.29821  275
4  2024.07.18  14:15  1.29821  1.29838  1.29803  1.29835  538

In [19]:
df.columns = ['data', 'horário', 'Preço de abertura', 'Preço Máximo', 'Preço Mínimo', 'Preço de fechamento', 'Volume']

print(df)

             data horário  Preço de abertura  Preço Máximo  Preço Mínimo  Preço de fechamento  Volume
0      2024.07.18   13:55            1.29827       1.29830       1.29793              1.29807     296
1      2024.07.18   14:00            1.29807       1.29831       1.29805              1.29829     537
2      2024.07.18   14:05            1.29830       1.29851       1.29807              1.29840     429
3      2024.07.18   14:10            1.29838       1.29861       1.29811              1.29821     275
4      2024.07.18   14:15            1.29821       1.29838       1.29803              1.29835     538
...           ...     ...                ...           ...           ...                  ...     ...
37285  2025.01.20   01:00            1.21759       1.21810       1.21743              1.21765     499
37286  2025.01.20   01:05            1.21764       1.21813       1.21754              1.21804     304
37287  2025.01.20   01:10            1.21805       1.21843       1.21797              1.21833     338
37288  2025.01.20   01:15            1.21833       1.21834       1.21811              1.21818     399
37289  2025.01.20   01:20            1.21819       1.21825       1.21813              1.21815     102

[37290 rows x 7 columns]

In [ ]:
# Removendo colunas desnecessárias

df = df.drop('Preço Máximo', axis=1)
df = df.drop('Preço Mínimo', axis=1)

In [23]:
print(df)

             data horário  Preço de abertura  Preço de fechamento  Volume
0      2024.07.18   13:55            1.29827              1.29807     296
1      2024.07.18   14:00            1.29807              1.29829     537
2      2024.07.18   14:05            1.29830              1.29840     429
3      2024.07.18   14:10            1.29838              1.29821     275
4      2024.07.18   14:15            1.29821              1.29835     538
...           ...     ...                ...                  ...     ...
37285  2025.01.20   01:00            1.21759              1.21765     499
37286  2025.01.20   01:05            1.21764              1.21804     304
37287  2025.01.20   01:10            1.21805              1.21833     338
37288  2025.01.20   01:15            1.21833              1.21818     399
37289  2025.01.20   01:20            1.21819              1.21815     102

[37290 rows x 5 columns]

In [29]:
def candle_fechamento(df):
    # Criando uma nova coluna 'candle' para armazenar se o candle é 'Positivo' ou 'Negativo'
    df['candle'] = df.apply(lambda row: 'Positivo' if row['Preço de fechamento'] > row['Preço de abertura'] else 'Negativo', axis=1)
    return df

In [30]:
candle_fechamento(df)

             data horário  Preço de abertura  Preço de fechamento  Volume     soma    candle
0      2024.07.18   13:55            1.29827              1.29807     296  2.59634  Negativo
1      2024.07.18   14:00            1.29807              1.29829     537  2.59636  Positivo
2      2024.07.18   14:05            1.29830              1.29840     429  2.59670  Positivo
3      2024.07.18   14:10            1.29838              1.29821     275  2.59659  Negativo
4      2024.07.18   14:15            1.29821              1.29835     538  2.59656  Positivo
...           ...     ...                ...                  ...     ...      ...       ...
37285  2025.01.20   01:00            1.21759              1.21765     499  2.43524  Positivo
37286  2025.01.20   01:05            1.21764              1.21804     304  2.43568  Positivo
37287  2025.01.20   01:10            1.21805              1.21833     338  2.43638  Positivo
37288  2025.01.20   01:15            1.21833              1.21818     399  2.43651  Negativo
37289  2025.01.20   01:20            1.21819              1.21815     102  2.43634  Negativo

[37290 rows x 7 columns]

In [33]:
df = df.drop('soma', axis=1)

In [34]:
print(df)

             data horário  Preço de abertura  Preço de fechamento  Volume    candle
0      2024.07.18   13:55            1.29827              1.29807     296  Negativo
1      2024.07.18   14:00            1.29807              1.29829     537  Positivo
2      2024.07.18   14:05            1.29830              1.29840     429  Positivo
3      2024.07.18   14:10            1.29838              1.29821     275  Negativo
4      2024.07.18   14:15            1.29821              1.29835     538  Positivo
...           ...     ...                ...                  ...     ...       ...
37285  2025.01.20   01:00            1.21759              1.21765     499  Positivo
37286  2025.01.20   01:05            1.21764              1.21804     304  Positivo
37287  2025.01.20   01:10            1.21805              1.21833     338  Positivo
37288  2025.01.20   01:15            1.21833              1.21818     399  Negativo
37289  2025.01.20   01:20            1.21819              1.21815     102  Negativo

[37290 rows x 6 columns]